html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic";
}
canvas {
  display: block;
}
#warp {
  position: relative;
}
#content {
  position: absolute;
  left: 60px;
  top: 70px;
  width: 440px;
}
.text {
  color: white;
}
#main_header {
  font-size: 250%;
  font-weight: bold;
}
#sub_header {
  font-size: 80%;
  line-height: 170%;
}
#name {
  font-size: 80%;
  text-align: right;
  margin-top: -px;
  margin-bottom: 120px;
}
.section {
  line-height: 170%;
  font-size: 90%;
}
#last {
  font-size: 85%;
  text-align: left;
  line-height: 190%;
  margin-top: 8%;
  font-size: 85%;
}
